<div class="bodegas-container">
    <a href="/bodegas/Marale" class="bodega-item marale">
        <h1 class="winery-name">Marale</h1>
    </a>
    <a href="/bodegas/Merced" class="bodega-item merced">
        <h1 class="winery-name">Merced Del Estero</h1>
    </a>
    <a href="/bodegas/Fabril" class="bodega-item fabril">
        <h1 class="winery-name">Fabril Alto Verde</h1>
    </a>
    <a href="/bodegas/Sierras" class="bodega-item sierras">
        <h1 class="winery-name">Sierras Azules</h1>
    </a>
    <a href="/bodegas/Viñas" class="bodega-item viñas">
        <h1 class="winery-name">Viñas de Segisa</h1>
    </a>
</div>